# Ignore build directories and CMake files
/bin/
/lib/
/deprecated/
/build/
/CMakeFiles/
/CMakeCache.txt
/CMakeConfigureLog.yaml
/Makefile
/Makefile2
/compile_commands.json
*.cmake

# Ignore compiled binaries and libraries
*.o
*.a
*.out
*.so
*.dSYM/

# Ignore temporary files and logs
*.log
*.bak
*.swp
*.swm

# Ignore environment setup files
/scripts/environment/*.sh
/scripts/environment/environment_variables.txt

# Ignore config.json if sensitive (optional)
# config/config.json

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore macOS-specific files
.DS_Store

# Ignore Linux-specific files
*.dSYM

